.cabecalho{
    margin-bottom: 25px;
    padding: 15px;
}

.cabecalho-titulo{
    position: relative;
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.cabecalho-subtitulo{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 3%;
}

.div-video-container{
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.div-btn{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid gray;
    margin: 40px;
}

.div-btn:hover{
    background-color: black;
}

.div-conteudo{
    display:flex;
    gap: 10px 20px;
    align-items: start;
    justify-content: center;
}

.gmail{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    top: 15px;
}

.gmail:hover{
    filter: invert(1);
}

.github{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: invert(1);
    background-color: #f4f4f4;
}

.github:hover{
    filter: invert(0);
}

.instagram{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 302px;
    top: 529px;
}

.instagram:hover{
    filter: invert(1);
}

.linkedin{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    top: 10px;
    left: 10px;
}

.linkedin:hover{
    filter: invert(1);
}

.whatsapp{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    top: 10px;
    left: 20px;
}

.whatsapp:hover{
    filter: invert(1);
}

.rodape{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: center;
}

.video-player{
    margin-top: -210px;
    width: 100%;

}

.video-source{
    height: auto;
    width: 100%;
}